html {
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.5rem;
}

.hamburger {
    height: 30px;
    width: 20px;
}

.navigation-list {
    display: none;
}

.top {
    display: flex;
    margin: 4rem 1.5rem;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 75%;
}

.top-left-title__top {
    color: #ff3998;
    letter-spacing: 0.1rem;
}

.top-left-title__middle {
    font-size: 48px;
    font-weight: 900;
}

.top-left-text {
    color: grey;
    text-align: left;
    line-height: 25px;
}

.top-left>* {
    margin: 0.7rem;
}

.top-right {
    height: 400px;
    position: absolute;
    top: 5%;
    left: 58%;
}

.top-button {
    border: 0;
    border-radius: 25px;
    padding: 2.6px;
    display: inline-block;
    background: linear-gradient(90deg,
            #ff4656,
            #ff4979,
            #ff6541,
            #f98d58,
            #c6af68);
}

.top-button-text {
    border-radius: 25px;
    background: white;
    padding: 10px 30px;
    display: block;
    font-size: 24px;
}

.top-companies-banner {
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 1.5rem 1rem 1.5rem;
}

.top-companies-banner-title {
    font-size: 38px;
    font-weight: 400;
}

.top-companies-banner-text {
    line-height: 20px;
}

.top-companies-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin: 2rem 1.5rem;
}

.icon-box {
    width: 157px;
}