html {
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.5rem;
}

.hamburger {
    height: 30px;
    width: 20px;
}

.navigation-list {
    display: none;
}

.top {
    display: flex;
    margin: 4rem 1.5rem;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 75%;
}

.top-left-title__top {
    color: #ff3998;
    letter-spacing: 0.1rem;
}

.top-left-title__middle {
    font-size: 48px;
    font-weight: 900;
}

.top-left-text {
    color: grey;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}

.top-left>* {
    margin: 0.7rem;
}

.top-right {
    height: 400px;
    position: absolute;
    top: 5%;
    left: 58%;
}

.top-button {
    border: 0;
    border-radius: 25px;
    padding: 2.6px;
    display: inline-block;
    background: linear-gradient(90deg,
            #ff4656,
            #ff4979,
            #ff6541,
            #f98d58,
            #c6af68);
}

.top-button-text {
    border-radius: 25px;
    background: white;
    padding: 10px 30px;
    display: block;
    font-size: 24px;
}

.top-companies-banner {
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 1.5rem 1rem 1.5rem;
}

.top-companies-banner-title {
    font-size: 38px;
    font-weight: 400;
}

.top-companies-banner-text {
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}

.top-companies-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin: 3.5em 1.5rem;
}

.icon-box {
    width: 157px;
}

.middle {
    margin: 2rem 1.5rem;
}

.middle-title {
    font-size: 38px;
    font-weight: 400;
}

.middle-description {
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
}

.card-wraper {
    display: flex;
    gap: 1rem;
}

.card {
    min-width: 250px;
    border-radius: 15px;
    margin-bottom: 0;
    font-size: 0;
}

.card-text-container {
    padding: 2px 16px;
    height: 100px;
    background-color: #eeee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.card-text-left {
    text-align: left;
}

.card-text-right {
    text-align: right;
    white-space: nowrap;
}

.card-text-left_orange {
    color: #ff8039;
}

.card-text {
    color: grey;
}

.second-line {
    font-weight: 600;
    font-size: 14px;
}

.eth-image {
    float: left;
    margin-left: -1.5rem;
}

hr {
    margin: 4rem auto;
    height: 2px;
    background-color: #ccc;
    border: none;
}

.bottom {
    display: flex;
    margin: 4rem 1.5rem;
    position: relative;
    padding: 2rem 1.5rem;
}

.bottom {
    position: relative;
    border-bottom: 3px solid #ccc;
    border-width: 1px;
    margin: 0;
}

.bottom-image {
    height: 400px;
    position: absolute;
    left: 68%;
    bottom: 0;
}